{% extends 'calismaodasi/base.html' %}
{% block title %}Rezervasyon Yap{% endblock %}
{% block content %}
  <h2 class="mb-4 text-warning">{{ room.name }} için Rezervasyon</h2>
  <form method="post">
    {% csrf_token %}
    <label for="id_date">Tarih:</label>
    {{ form.date }}
    <label for="id_start_time">Başlangıç Saati:</label>
    {{ form.start_time }}
    <label for="id_end_time">Bitiş Saati:</label>
    {{ form.end_time }}
    <button type="submit">Rezervasyon Yap</button>
  </form>
{% endblock %}