.dark-theme {
    background-color: #120e38; 
    color: #f0f0f0; 
    min-height: 100vh;
}

/* * ----------------------------------------
 * Başlık Stilleri (Header)
 * ----------------------------------------
 */

.main-header {
    background-color: #120e38; 
    border-bottom: 1px solid #2a2559;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}


/*Gezinme bağlantıları*/
.main-nav .nav-link {
    color: #ffffff !important;
    font-size: 0.95rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.main-nav .nav-link:hover,
.main-nav .nav-link:focus {
    opacity: 1;
    color: #a491f2 !important;
}


.home-hero {
    min-height: calc(80vh - 80px);
    display: flex;
    align-items: center;
}

/* ana başlık */
.hero-title {
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(164, 145, 242, 0.5); 
}

/* Altyazı stili */
.hero-subtitle {
    color: #c4c1e8;
    margin-bottom: 2rem;
    max-width: 80%;
}

/* * --------------------------------------
 * Ana Düğme Stili (Odaları Görüntüle)
 * ----------------------------------------
 */
.custom-btn {
    background-image: linear-gradient(to right, #b6502f, #f7b15e); 
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(106, 75, 255, 0.4);
    color: white; 
}


.col-md-6 img {
    max-width: 100%;
    height: auto;
}

/* button detay */
.custom-btn-2 {
    background-image: linear-gradient(to right, #b6502f, #f7b15e); 
    border: none;
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
}

.blurred-box {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(1.5rem);
    border-radius: 10px;
    padding: 10px;
    margin: 0.2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/*login*/
.form-container input[type="text"],
.form-container input[type="password"] {
    background-color: #120e38; 
    color: #ffffff;
    border: 1px solid #2a2559;
    border-radius: 6px;
    padding: 0.75rem;
    width: 100%;
    transition: border-color 0.3s;
}
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    border-color: #a491f2;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(164, 145, 242, 0.25);
}